html {
  padding: 0 1em;
  margin: 1em auto;
  max-width: 40em;
  font: 20px sans-serif;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #204fd5;
}
a:active,
a:hover,
a:visited:hover {
  color: #204fd5;
}
a:visited {
  color: #334f83;
}
hr {
  border: 0;
  margin-top: 2rem;
}
hr,
h1,
h2 {
  margin-top: 3rem;
}
ul {
  padding: 0 1rem;
}
li {
  padding: 0.125rem 0;
}
p img,
table {
  width: 100%;
}
p {
  line-height: 1.6rem;
}
pre {
  font: 18px/1.4rem monospace;
  overflow-x: auto;
}
code,
pre {
  text-transform: none;
}
pre i {
  font-style: normal;
}
pre b {
  color: #000;
}
pre u {
  text-decoration: none;
  color: #333;
  background-color: #c0e0ee;
}
pre i::before {
  content: "> ";
  color: #aaa;
}
pre strong {
  background-color: #0000cc;
  color: #fff;
}
pre em {
  font-style: normal;
  background-color: #fda;
}
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
.avatar {
  border-radius: 100%;
  width: 60px;
}
.button {
  display: inline-block;
  border: #00f solid 1px;
  padding: 0.5em 1em;
  text-decoration: none;
}
.small {
  font-size: 0.8rem;
}
.logo a,
.small,
.small a {
  color: #888;
}
.logo a,
.small a {
  text-decoration-color: #ccc;
}
.code {
  font-family: monospace;
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #fda;
  }
  a:active,
  a:hover,
  a:visited:hover {
    color: #fff;
    text-decoration-color: #fff;
  }
  a:visited {
    color: #ba8;
    text-decoration-color: #ca8;
  }
  html {
    background-color: #000;
    color: #ccc;
  }
  code,
  pre b {
    color: #fff;
  }
  pre i::before {
    color: #555;
  }
  pre strong {
    background-color: #0000cc;
    color: #fff;
  }
  pre em {
    color: #000;
  }
  .button {
    border-color: #fda;
  }
  .logo a,
  .small a {
    color: #888;
    text-decoration-color: #555;
  }
}
