html {
  padding: 0 1em;
  margin: 1em auto;
  max-width: 40em;
  font-size: 1.25rem;
  font-family: arial, sans-serif;
  text-size-adjust: 100%;
}
a {
  color: #204fd5;
}
a:active,
a:hover,
a:visited:hover {
  color: #204fd5;
}
a:visited {
  color: #334f83;
}
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
hr {
  border: 0;
  margin-top: 2rem;
}
hr,
h1,
h2 {
  font-family: sans-serif;
  margin-top: 3rem;
}
ul {
  padding: 0 1rem;
}
li {
  padding: 0.125rem 0;
}
p img,
table {
  width: 100%;
}
p {
  line-height: 1.8rem;
}
pre {
  font-size: 1rem;
  line-height: 1.6rem;
  overflow-x: auto;
}
code,
pre {
  font-family: "menlo", monospace;
  text-transform: none;
}
pre i {
  font-style: normal;
}
pre b {
  color: #000;
}
pre u {
  text-decoration: none;
  color: #333;
  background-color: #c0e0ee;
}
pre i::before {
  content: "> ";
  color: #aaa;
}
pre strong {
  background-color: #0000cc;
  color: #fff;
}
pre em {
  font-style: normal;
  background-color: #fda;
}
.avatar {
  border-radius: 100%;
  width: 60px;
}
input,
button,
.button {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  border: 1px solid #000;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  text-decoration: none;
}
.quote {
  margin: -0.4rem;
}
small,
.small {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
small,
small a,
.logo a,
.small,
.small a {
  color: #888;
}
small a,
.logo a,
.small a {
  text-decoration-color: #ccc;
}
.code {
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #fda;
  }
  a:active,
  a:hover,
  a:visited:hover {
    color: #fff;
    text-decoration-color: #fff;
  }
  a:visited {
    color: #ba8;
    text-decoration-color: #ca8;
  }
  html {
    background-color: #000;
    color: #ccc;
  }
  code,
  pre b {
    color: #fff;
  }
  pre i::before {
    color: #555;
  }
  pre strong {
    background-color: #0000cc;
    color: #fff;
  }
  pre em {
    color: #000;
  }
  input,
  button,
  .button {
    background-color: #000;
    border-color: #fff;
  }
  small a,
  .logo a,
  .small a {
    color: #888;
    text-decoration-color: #555;
  }
}
